data/pdf_transcripts
data/EER-site-pages-pdf
data/reformatted_transcripts copy
data/EER-site-pages-pdf copy
data/reformatted_transcripts
data/raw_transcripts
.env
.venv
requirements_ts.txt
test
src/__pycache__
chatbot_log.log
boteer.zip
transcript_summary.json