data/pdf_transcripts
data/EER-site-pages-pdf
data/reformatted_transcripts copy
data/EER-site-pages-pdf copy
data/reformatted_transcripts
data/raw_transcripts
.env
.venv
src/test.ipynb
src/__pycache__
requirements_ts.txt
src/test_2.ipynb
src/test_timescale.ipynb
src/test_1.ipynb
src/test_3.ipynb
src/test_4.ipynb
src/__pycache__