data/pdf_transcripts
data/EER-site-pages-pdf
data/reformatted_transcripts copy
data/EER-site-pages-pdf copy
data/reformatted_transcripts
data/raw_transcripts
.env
.venv
src/test.ipynb
src/__pycache__
